# Importing Required Modules

In [1]:
import numpy as np
import pandas as pd
import pyprind, os, re, nltk, pickle,sqlite3
from tqdm import tqdm

# Data Preproccessing

In [2]:
# Reading Gathered Tweets
Gidi_traffic = pd.read_csv('Gidi_traffic.csv')
Traffic_chief = pd.read_csv('Traffic_Chief_Ng.csv')
followlastma = pd.read_csv('followlastma.csv')

In [4]:
Gidi_traffic.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,2020-01-19 22:41:17,Gidi_Traffic,NaN,7,45,53,NaN,@FeralJack_,NaN,1219027075320991744,https://twitter.com/Gidi_Traffic/status/121902...,""" : What’s happening in Abule Egba? Who allowe..."
1,2020-01-19 22:41:04,Gidi_Traffic,NaN,0,23,32,NaN,@spurndonek @Old,NaN,1219027017724764163,https://twitter.com/Gidi_Traffic/status/121902...,""" : Emergency Emergency There is a fire outbre..."

In [5]:
Traffic_chief.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,2020-01-19 23:45:10,TrafficChiefNG,NaN,1,2,6,NaN,@eniola_opeyemi,#TrafficChief,1219043149282041856,https://twitter.com/TrafficChiefNG/status/1219...,[12:32AM] : PHOTOS: Rehabilitation work on Dop...
1,2020-01-19 23:45:08,TrafficChiefNG,NaN,0,0,1,NaN,@bait4love @kunlegzyNew2013,#TrafficChief,1219043143024181248,https://twitter.com/TrafficChiefNG/status/1219...,[12:39AM] : 2 storey renovated building at idi...

In [6]:
followlastma.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,2020-01-18 07:23:09,followlastma,NaN,1,6,5,NaN,@TrafficChiefNG @Gidi_Traffic @trafficbutterpic,#OjotaInterchange #lastmareports,1218433631305203712,https://twitter.com/followlastma/status/121843...,[7.55am] A truck loaded with plywood tilted an...
1,2020-01-17 16:44:52,followlastma,NaN,0,1,0,NaN,NaN,NaN,1218212604319059969,https://twitter.com/followlastma/status/121821...,As motorists leave the Market and ascend the E...

In [7]:
df = pd.concat([Traffic_chief,Gidi_traffic,followlastma]) 
#concatenating dataframes together to ease data visualization

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,2020-01-19 23:45:10,TrafficChiefNG,NaN,1,2,6,NaN,@eniola_opeyemi,#TrafficChief,1219043149282041856,https://twitter.com/TrafficChiefNG/status/1219...,[12:32AM] : PHOTOS: Rehabilitation work on Dop...
1,2020-01-19 23:45:08,TrafficChiefNG,NaN,0,0,1,NaN,@bait4love @kunlegzyNew2013,#TrafficChief,1219043143024181248,https://twitter.com/TrafficChiefNG/status/1219...,[12:39AM] : 2 storey renovated building at idi...
2,2020-01-19 23:30:11,TrafficChiefNG,NaN,1,3,3,NaN,@kikigist,#GIDITRAFFIC #TrafficChief,1219039378514665473,https://twitter.com/TrafficChiefNG/status/1219...,[12:15AM] : ?? ? ??? pipeline is burning here ...
3,2020-01-19 23:30:09,TrafficChiefNG,NaN,1,5,6,NaN,@BlaqBoi_Phillz @AmeboOnlineTv1 @lagostraffic9...,#PipelineFire #TrafficChief,1219039370008649728,https://twitter.com/TrafficChiefNG/status/1219...,[12:15AM] : [11:21PM] : See victims of Abule e...
4,2020-01-19 23:00:14,TrafficChiefNG,NaN,0,0,1,NaN,@zantoto @TemiTells @TheLyrikallz @daemperor007,#TrafficChief,1219031843053260801,https://twitter.com/TrafficChiefNG/status/1219...,"[11:48PM] : Ma, I have family living at Abule ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2019-11-19 09:04:00,followlastma,NaN,0,3,1,NaN,@TrafficChiefNG @Gidi_Traffic @trafficbutter @...,#GbagadaExp #lastmareports,1196715739329257478,https://twitter.com/followlastma/status/119671...,[9.50am] A brokendown truck at Newcastle inwar...
996,2019-11-19 09:00:59,followlastma,NaN,0,4,1,NaN,@lasemasocial @TrafficChiefNG @Gidi_Traffic @t...,#LagosBadagryExp #lastmareports,1196714980311273472,https://twitter.com/followlastma/status/119671...,[9.49am] Fallen truck loaded with sand at Volk...
997,2019-11-19 08:35:05,followlastma,NaN,0,0,0,NaN,@TrafficChiefNG @Gidi_Traffic @trafficbutter @...,NaN,1196708459330322432,https://twitter.com/followlastma/status/119670...,Slow approaching JesuOyingbo intersection to t...
998,2019-11-19 08:35:04,followlastma,NaN,1,0,0,NaN,@TrafficChiefNG @Gidi_Traffic @trafficbutter @...,#IkoroduRd #AMTrafficReviews,1196708455710629889,https://twitter.com/followlastma/status/119670...,[9.26am] Ikorodu after the BRT Terminal all th...
999,2019-11-19 08:33:13,followlastma,NaN,0,0,0,NaN,@TrafficChiefNG @Gidi_Traffic @trafficbutter @...,NaN,1196707991447363585,https://twitter.com/followlastma/status/119670...,Also there are various construction works ongo...

In [62]:
# The tweets have been manually classified
#read in manually classified tweeets
df2 = pd.read_csv('Classified Tweets.csv')

In [63]:
df2

                                                 Tweets  Tweet Classification
0      12 32am photos rehabilitation work on dopemu ...                     1
1      12 39am 2 storey renovated building at idi or...                     0
2      12 15am pipeline is burning here at agbado ok...                     1
3      12 15am 11 21pm see victims of abule egba a l...                     1
4      11 48pm ma i have family living at abule egba...                     0
...                                                 ...                   ...
2995   9 50am a brokendown truck at newcastle inward...                     0
2996   9 49am fallen truck loaded with sand at volks...                     1
2997  slow approaching jesuoyingbo intersection to t...                     1
2998   9 26am ikorodu after the brt terminal all the...                     1
2999  also there are various construction works ongo...                     0

[3000 rows x 2 columns]

In [64]:
def tokenizer(text):
    return text.split()

In [65]:
#word stemming; transfomring word to its root form
#Note: In order to install the NLTK, you can simply execute pip install nltk
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()
def tokenizer_porter(text):
    return [porter.stem(word) for word in text.split()]

#for example
tokenizer_porter('runners like running and thus they run')

['runner', 'like', 'run', 'and', 'thu', 'they', 'run']

In [66]:
def tokenizer(text):
    text = re.sub('<[^>]*>', '', text)
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)',text.lower())
    text = re.sub('[\W]+', ' ', text.lower())+ ' '.join(emoticons).replace('-', '')
    tokenized = [w for w in text.split() if w not in stop]
    return tokenized

In [67]:
#using hashing vectorizer for text processing
#Note CountVectorizer is not used because it requires holding all vocabulary in memory
#TfidfVectorizer is not used because it requires keeping all feature vectors of the
#training data in memory to calculate inverse document frequencies.

#We will use Hashingvectorizer, this is data independent
#uisng SGD classifier algorithm
from sklearn.feature_extraction.text import HashingVectorizer
vect = HashingVectorizer(decode_error='ignore', n_features=2**21, preprocessor=None,tokenizer=tokenizer)
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [73]:
X = vect.transform(df['Tweets'])
y = df2['Tweet Classification']

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [76]:
from sklearn.linear_model import SGDClassifier

In [77]:
clf = SGDClassifier(loss = 'log', random_state=1)

In [78]:
clf.fit(X_train,y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=1000,
              n_iter_no_change=5, n_jobs=None, penalty='l2', power_t=0.5,
              random_state=1, shuffle=True, tol=0.001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [80]:
pred = clf.predict(X_test)

In [81]:
from sklearn.metrics import classification_report

In [82]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.80      0.85      0.82       445
           1       0.87      0.83      0.85       545

    accuracy                           0.84       990
   macro avg       0.84      0.84      0.84       990
weighted avg       0.84      0.84      0.84       990

In [83]:
print('Accuracy: %.3f' % clf.score(X_test, y_test))

Accuracy: 0.837

In [94]:
label = {0:'Bad', 1:'Good'}
example = ['to get more followers on twitter dm me for low price']
X = vect.transform(example)
print('Prediction: %s\nProbability: %.2f%%' %(label[clf.predict(X)[0]],np.max(clf.predict_proba(X))*100))

Prediction: Bad
Probability: 86.82%

In [95]:
example2 = ['Busy Traffic currently at magodo ']
X = vect.transform(example2)
print('Prediction: %s\nProbability: %.2f%%' %(label[clf.predict(X)[0]],np.max(clf.predict_proba(X))*100))

Prediction: Good
Probability: 78.91%

In [97]:
pickle.dump(clf, open('Classifier.sav', 'wb'))